

html, body, #sidebar {
  background-color: #0d1117 !important;
  color: #eee !important;
}
html[data-mode="light"], body[data-mode="light"], #sidebar[data-mode="light"] {
  background-color: #0d1117 !important;
  color: #eee !important;
}
